<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Bingo ltd.</h2>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo minus consequuntur exercitationem dolorem ipsa vitae recusandae quia, voluptate inventore aliquam id corporis vel, expedita eveniet eaque qui minima similique eligendi.</p>
                <div class="p-t-30">
                    
                    <a class="btn btn--radius btn--green" style="text-decoration: none;" href="/signUp">Sign Up</a>

                    <a class="btn btn--radius btn--green" style="margin-left: 50%;text-decoration: none;" href="/signIn">Login</a>

                </div>
               
            </div>
        </div>
    </div>
</div>